; Include forcefield parameters
#include "toppar/charmm36.itp"
#include "toppar/RNAA.itp"
#include "charmm36.ff/mol/mg.itp"
#include "charmm36.ff/mol/pot.itp"
#include "charmm36.ff/mol/cla.itp"
#include "charmm36.ff/mol/sol.itp"

[ system ]
; Name
RNA

[ molecules ]
; Compound	#mols
RNAA		1
SOL		<N_SOL>
MG              <N_MG>
POT		<N_POT>
CLA		<N_CLA>
